@import "../../../colors-variables.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(0deg, $light-primary-color, $primary-color);

    .menu-links{
        display: flex;
        gap: 50px;
        color: $primary-text;
        font-weight: 700;
        font-size: 26;
    }
}