<app-header></app-header>
<main>
    <section id="beggin" class="main-section pad-20 background-image">
        <h2>Transformando<br />
            ideias em soluções<br />
            digitais.</h2>
    </section>
    <section id="about" class="about-section secondary-section pad-20">
        <div>
            <h3>Sobre nós</h3>
            <p>Somos uma equipe apaixonada por tecnologia, determinada a transformar ideias em realidade digital. Embora
                sejamos uma empresa nova, nossa expertise nos impulsiona a alcançar novos patamares no desenvolvimento
                de software. Estamos aqui para oferecer soluções inovadoras e sob medida para o seu negócio.</p>
        </div>
        <div class="image-section">
            <img ngSrc="./assets/equipe.jpg" fill>
        </div>
    </section>
    <section class="diferencial-section secondary-section pad-20">
        <div class="image-section">
            <img ngSrc="./assets/aperto-de-mao.jpg" fill>
        </div>
        <div>
            <h3>Diferencial Competitivo</h3>
            <p>Em um mercado saturado de opções, buscamos nos destacar pelo nosso compromisso com a excelência e pela
                qualidade incomparável dos nossos serviços. Nossa abordagem centrada no cliente e nossa paixão pela
                tecnologia nos diferenciam, tornando-nos o parceiro ideal para todas as suas necessidades de
                desenvolvimento de software.</p>
        </div>
    </section>
    <section id="contact" class="contact-section">
        <div class="contact-info pad-20">
            <div class="contact-text">
                <h2>Pronto para Transformar sua Ideia em Realidade Digital?</h2>
                <p>Entre em contato conosco hoje mesmo para agendar uma consulta e descobrir como podemos ajudar a
                    impulsionar o sucesso do seu negócio através do desenvolvimento de software personalizado.</p>
            </div>
            <button><a
                    href="https://api.whatsapp.com/send?phone=5584999589090&text=Olá%20gostaria%20de%20fazer%um%orçamento"
                    target="_blank">Entre em contato conosco</a></button>
        </div>
    </section>
</main>
<app-footer />